
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "../fonts/" !default;
@import "~font-awesome/scss/font-awesome";

@import '~admin-lte/dist/css/AdminLTE.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#flash-message{
	position: absolute;
	bottom:-378px;
	right: 20px;
	z-index:10;
	margin-bottom: 35px;
	animation: flash-message 6s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}
